body{
    font-family: Arial;
    text-align: center;
    margin-top: 30px;
}

input{
    padding: 8px;
    margin: 5px;
}

button{
    padding: 8px 15px;
    cursor: pointer;
}

table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
}