body {
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 1500px;
}

.contact {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 15px;
    z-index: 1000;
    text-align: center;
}

.contact:hover {
    background-color: lightgreen;
}

.contact a {
    text-decoration: none;
    color: blue;
}
