body{
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}

#text{
    width: 60%;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    text-align: left;
}

button{
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}